h2,
h1,
p {
  font-size: 20px;
  font-family: "Roboto";
}

.btn {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 10px 20px 10px;
  border-radius: 100px;
  cursor: pointer;
  border-style: hidden;
  transition: transform 200ms;
  color: #fff;
}
.btn:hover {
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
}
.btn:focus {
  outline: 0;
  outline-style: hidden;
  outline-width: 0px;
}

footer {
  width: 100%;
  position: relative;
  background-color: #333030;
  bottom: 0;
}
footer p {
  font-family: Shrikhand, sans-serif;
  color: #fff;
  padding-left: 15px;
}
footer .logo {
  width: 30%;
  padding-top: 15px;
  padding-left: 15px;
  color: #fff;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.intro i {
  margin-top: 5px;
  margin-left: 10px;
}
.intro i::before {
  font-size: 20px;
  color: #000;
}
.intro .logo {
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
}

.home {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
}
.home .logo {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.location {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.location h2 {
  font-family: "Roboto";
  font-size: 15px;
  background-color: #C7BDBD;
  margin: 0px;
  padding: 10px 0px 10px;
}

.pres {
  display: block;
  text-align: center;
  background-color: #E3E0E0;
  margin: 0px;
  padding: 0px;
}
.pres h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px;
}
.pres button {
  margin: 15px 0px 40px;
}

.restaurants {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
}
.restaurants__cards {
  margin: 15px 15px;
  box-shadow: 0px 5px 10px 0px;
  border-radius: 15px;
  overflow: hidden;
}
.restaurants__cards .__pal {
  background-image: url("../ressources/img/thefull.jpg");
  background-size: 350px 200px;
  background-position: center;
  width: 100%;
  height: 200px;
}
.restaurants__cards .__enchant {
  background-image: url("../ressources/img/enchanted.jpg");
  background-size: 350px 350px;
  background-position: center;
  width: 100%;
  height: 200px;
}
.restaurants__cards .__barquette {
  background-image: url("../ressources/img/barquette.jpg");
  background-size: 350px 200px;
  background-position: center;
  width: 100%;
  height: 200px;
}
.restaurants__cards .__gourmand {
  background-image: url("../ressources/img/gourmand.jpg");
  background-size: 350px 200px;
  background-position: center;
  width: 100%;
  height: 200px;
}
.restaurants__cards h3 {
  position: relative;
  margin: 10px 20px;
  padding: 5px 20px;
  font-size: 15px;
  color: #205523;
  background-color: #7ef1aa;
  float: right;
}
.restaurants__cards h2 {
  margin: 10px 0px 5px 10px;
}
.restaurants__cards p {
  margin: 0px 10px 10px;
  padding: 0px;
}
.restaurants__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.restaurants__description .text {
  width: 70%;
}
.restaurants__description .heart {
  width: 30%;
}
.restaurants__description .heart .fa-heart-o {
  position: relative;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}
.restaurants__description .heart .fa-heart {
  transform: scaleY(0);
}
.restaurants__description .heart:hover .fa-heart-o {
  display: none;
}
.restaurants__description .heart:hover .fa-heart {
  transition: transform 3000ms;
  transform: scaleY(1);
  transform-origin: bottom;
  color: #9356DC;
  display: inline;
  position: relative;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}
.restaurants__description .heart .fa {
  font-size: 30px;
}

.fa {
  z-index: 2;
}

/*# sourceMappingURL=styles.css.map */
