@mixin gradient-btn($color1: $color-secondary, $color2: $color-primary) {
    background-image: linear-gradient(to bottom right, $color1, $color2);
}

@mixin align-text-center {
    display: block;
    text-align: center;
}

@mixin bck-img($img, $height: 200px) {
    background-image: url("#{$img}.jpg");
    background-size: 400px $height;
    background-position: center;
    width: 100%;
    height: 200px;
}

@mixin bck-img-desk($position-y: 0px) {
    opacity: 0.9;
    background-position-y: $position-y;
    background-repeat: no-repeat;
}

@mixin heart {
    z-index: 1000;
    font-size: 23px;
    position: relative;
    color: #e9e9e9;
    top: -3px;
    left: -26px;
    opacity: 0;
    transform: scale(1.3);
    transition: color 1s;
    &:hover {
        color: $color-tertiary;
        opacity: 1;
    }
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

@keyframes disapear {
    90% {
        opacity: 1;
        display: none;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes appear {
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}