@mixin gradient-btn($color1: $color-secondary, $color2: $color-primary) {
    background-image: linear-gradient(to bottom right, $color1, $color2);
}

@mixin align-text-center {
    display: block;
    text-align: center;
}