footer {
    width: 100%;
    background-color: #333030;
    p {
        font-family: sans-serif;
        color: #fff;
        padding-left: 15px;
    }
    .logo {
        width: 30%;
        padding-top: 15px;
        padding-left: 15px;
        color: #fff;
    }
}