.intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    i {
        margin-top: 5px;
        margin-left: 10px;
        &::before {
            font-size: 20px;
            color: #000;
        }
    }
    .logo {
        width: 50%;
        margin-left: 20%;
        margin-right: 20%;
    }
}