#container_spinner {
    animation: disapear 3s;
    animation-fill-mode: forwards;
}

.spinner {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    h1 {
        position: relative;
        left: 0;
        top: 40%;
    }
    &::before {
        animation: 2s linear infinite spinner;
        border: solid 3px $color-tertiary;
        border-bottom-color: $color-secondary;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
}

.home {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    .logo {
        display: block;
        color: #000;
        font-family: $police-title;
        font-size: 40px;
        padding: 0;
        margin: auto;
    }
}

.location {
    @include align-text-center;
    margin: 0px;
    padding: 0px;
    h2 {
        font: {
            family: $police-text;
            size: 15px;
        }
        background-color: #C7BDBD;
        margin: 0px;
        padding: 10px 0px 10px;
    }
}

.pres {
    @include align-text-center;
    background-color: #e9e9e9;
    margin: 0px;
    padding: 0px;
    h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        margin: 0px;
    }
    button {
        margin: 15px 0px 40px;
    }
}

.guide {
    width: 100%;
    padding: 0;
    margin: 0;
    &__title {
        padding-left: 10px;
    }
    & ul {
        padding-inline-start: 0px;
    }
    & li {
        display: flex;
        justify-content: flex-start;
    }
    & h2 {
        background-color: #e9e9e9;
        border: 0px;
        border-radius: 20px;
        width: 75%;
        margin: 16px 0px;
        padding: 25px 35px 25px 10px;
        line-height: 25px;
        &:hover {
            background-color: #efc3f5;
            i {
                color: $color-primary;
            }
        }
    }
    & span {
        margin-right: -5px;
        opacity: 0;
        animation: appear 3s;
        animation-fill-mode: forwards;
        padding: 3px;
        border-radius: 50%;
        background-color: $color-primary;
        height: 25px;
        width: 25px;
        text-align: center;
        color: #fff;
        margin-top: 37px;
        line-height: 25px;
        font-family: $police-text;
    }
    & .fa-mobile {
        font-size: 20px;
    }
    & .fa-list-alt {
        font-size: 15px;
    }
    & .fa-building {
        font-size: 15px;
    }
}

.restaurants {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: $police-text;
    a {
        text-decoration: none;
        h2,
        p,
        i {
            color: #000;
        }
    }
    &__cards {
        margin: 15px 15px;
        box-shadow: 0px 5px 10px 0px #000;
        border-radius: 15px;
        overflow: hidden;
        & .__pal {
            @include bck-img("../ressources/img/thefull");
        }
        & .__enchant {
            @include bck-img("../ressources/img/enchanted", 350px);
        }
        & .__barquette {
            @include bck-img("../ressources/img/barquette");
        }
        & .__gourmand {
            @include bck-img("../ressources/img/gourmand");
        }
        & h3 {
            margin: 10px 20px;
            padding: 5px 20px;
            font-size: 15px;
            color: rgb(32, 85, 35);
            background-color: #7ef1aa;
            float: right;
        }
        & h2 {
            margin: 10px 0px 5px 10px;
        }
        & p {
            margin: 0px 10px 10px;
            padding: 0px;
        }
    }
    &__description {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        & .text {
            width: 70%;
        }
        & .heart {
            width: 30%;
            .fa-heart-o {
                font-size: 30px;
                position: relative;
                color: #000;
                margin-top: 20px;
                margin-left: 50px;
                z-index: 10;
                transition: color 1s;
                &:hover {
                    color: $color-tertiary;
                }
            }
            .fa-heart {
                @include heart;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .home .logo {
        animation: appear 3s;
        animation-fill-mode: forwards;
        opacity: 0;
        position: absolute;
        color: $color-primary;
        margin-top: -10px;
        font-size: 50px;
        font-family: $police-title;
        left: 475px;
        .oh {
            color: $color-tertiary;
        }
        .my {
            color: $color-secondary;
        }
    }
    .container {
        width: 100%;
        height: auto;
        background-image: url(../ressources/img/background-desktop.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        .debutpage {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        .location {
            background: transparent;
            margin-left: 1000px;
            h2 {
                font-size: 30px;
                color: #e9e9e9;
                background: transparent;
                font-weight: normal;
            }
        }
        .pres {
            background: transparent;
            margin: auto;
            h1 {
                color: $color-secondary;
                font-size: 30px;
            }
            p {
                font-size: 20px;
                color: #fff;
            }
            button {
                font-size: 20px;
            }
        }
        .guide {
            text-align: center;
            h1 {
                font-size: 30px;
                color: #fff;
            }
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
            }
            li {
                height: 200px;
                width: 200px;
                padding: 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                span {
                    align-self: center;
                }
                h2 {
                    margin-top: -15px;
                    font-size: 20px;
                    background-color: $color-tertiary;
                }
            }
        }
    }
    .restaurants {
        text-align: center;
        background-color: #e9e9e9;
        h1 {
            margin: auto;
            font-size: 40px;
        }
        .restaurants__cards {
            width: 300px;
            text-align: left;
            .fa-heart {
                top: -26px;
                left: 54px;
            }
        }
        .boxmenu1 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .__pal {
                @include bck-img-desk;
            }
            .__enchant {
                @include bck-img-desk(-100px)
            }
        }
        .boxmenu2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .__gourmand {
                @include bck-img-desk;
            }
            .__barquette {
                @include bck-img-desk;
            }
        }
    }
}

@media screen and (min-width: 800px),
(max-width: 1200px) {
    .restaurants__cards {
        width: 350px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        .__gourmand {
            background-repeat: no-repeat;
            object-fit: contain;
        }
    }
}