.home {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    .logo {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.location {
    @include align-text-center;
    margin: 0px;
    padding: 0px;
    h2 {
        font: {
            family: $police-text;
            size: 15px;
        }
        background-color: #C7BDBD;
        margin: 0px;
        padding: 10px 0px 10px;
    }
}

.pres {
    @include align-text-center;
    background-color: #E3E0E0;
    margin: 0px;
    padding: 0px;
    h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        margin: 0px;
    }
    button {
        margin: 15px 0px 40px;
    }
}

.guide {
    width: 100%;
    padding: 0;
    margin: 0;
    &__title {
        padding-left: 10px;
    }
    & ul {
        padding-inline-start: 0px;
    }
    & li {
        display: flex;
        justify-content: flex-start;
    }
    & h2 {
        background-color: #E3E0E0;
        border: 0px;
        border-radius: 20px;
        width: 75%;
        margin: 16px 0px;
        padding: 25px 35px 25px 10px;
        line-height: 25px;
        &:hover {
            background-color: #efc3f5;
            i {
                color: $color-primary;
            }
        }
    }
    & span {
        /*display: inline-block;
        vertical-align: middle;*/
        margin-right: -5px;
        z-index: 2;
        padding: 3px;
        border-radius: 50%;
        background-color: $color-primary;
        height: 25px;
        width: 25px;
        text-align: center;
        color: #fff;
        margin-top: 37px;
        line-height: 25px;
        font-family: $police-text;
    }
    & .fa-mobile {
        font-size: 20px;
    }
    & .fa-list-alt {
        font-size: 15px;
    }
    & .fa-building {
        font-size: 15px;
    }
}
.restaurants {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: $police-text;
    &__cards {
        margin: 15px 15px;
        box-shadow: 0px 5px 10px 0px;
        border-radius: 15px;
        overflow: hidden;
        & .__pal {
            @include bck-img("../ressources/img/thefull");
        }
        & .__enchant {
            @include bck-img("../ressources/img/enchanted", 350px);
        }
        & .__barquette {
            @include bck-img("../ressources/img/barquette");
        }
        & .__gourmand {
            @include bck-img("../ressources/img/gourmand");
        }
        & h3 {
            position: relative;
            margin: 10px 20px;
            padding: 5px 20px;
            font-size: 15px;
            color: rgb(32, 85, 35);
            background-color: #7ef1aa;
            float: right;
        }
        & h2 {
            margin: 10px 0px 5px 10px;
        }
        & p {
            margin: 0px 10px 10px;
            padding: 0px;
        }
    }
    &__description {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        & .text {
            width: 70%;
        }
        & .heart {
            width: 30%;
            .fa-heart-o {
                position: relative;
                top: calc(50% - 10px);
                left: calc(50% - 10px);
            }
            .fa-heart {
                transform: scaleY(0);
            }
            &:hover {
                .fa-heart-o {
                    display: none;
                }
                .fa-heart {
                    transition: transform 3000ms;
                    transform: scaleY(1);
                    transform-origin: bottom;
                    color: $color-primary;
                    display: inline;
                    position: relative;
                    top: calc(50% - 10px);
                    left: calc(50% - 10px);
                }
            }
            .fa {
                font-size: 30px;
            }
        }
    }
}