.location {
    @include align-text-center;
    margin: 0px;
    padding: 0px;
    h2 {
        font: {
            family: $police-text;
            size: 15px;
        }
        background-color: #C7BDBD;
        margin: 0px;
        padding: 10px 0px 10px;
    }
}

.pres {
    @include align-text-center;
    background-color: #E3E0E0;
    margin: 0px;
    padding: 0px;
    h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        margin: 0px;
    }
    button {
        margin: 15px 0px 40px;
    }
}

.restaurants {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: $police-text;
    &__cards {
        margin-right: 30px;
        margin-left: 30px;
        box-shadow: 0px 5px 10px 0px;
        border-radius: 15px;
        overflow: hidden;
        & .__img {
            & img {
                height: auto;
                width: 100%;
            }
            & figure {
                height: 223px;
                width: 100%;
                display: block;
                overflow: hidden;
                & img {
                    width: 100%;
                    height: auto;
                    margin-right: 50px;
                }
            }
        }
    }
}