    .fa {
        z-index: 2;
    }
    
    .img_full {
        @include bck-img('../ressources/img/thefull');
        width: 100%;
        overflow: hidden;
        z-index: -2;
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .img_enchant {
        @include bck-img('../ressources/img/enchanted', 500px);
        width: 100%;
        overflow: hidden;
        z-index: -2;
        img {
            width: 100%;
            object-fit: contain;
            background-position-y: -400px;
        }
    }
    
    .img_barquette {
        @include bck-img('../ressources/img/barquette');
        width: 100%;
        overflow: hidden;
        z-index: -2;
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .img_gourmand {
        @include bck-img('../ressources/img/gourmand');
        width: 100%;
        overflow: hidden;
        z-index: -2;
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .main {
        width: 100%;
        background-color: #e9e9e9;
        margin-top: -45px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        .head {
            margin-left: 10px;
            margin-right: 10px;
        }
        .head {
            padding-top: 15px;
            height: 60px;
            h1 {
                font-family: $police-title;
                font-weight: normal;
                font-size: 25px;
                float: left;
            }
            i {
                float: right;
                padding: 25px 20px 0px 0px;
                font-size: 25px;
            }
        }
        .menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            h2 {
                width: 90%;
                text-transform: uppercase;
                padding-left: 10px;
                font-weight: normal;
                span {
                    padding-bottom: 4px;
                    border-bottom: 2px solid $color-tertiary;
                }
            }
            article {
                width: 95%;
                background-color: #fff;
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                margin: 5px 0px;
                .text {
                    width: 80%;
                    h3 {
                        font: {
                            family: $police-text;
                            weight: bold;
                            size: 17px;
                        }
                        padding-left: 10px;
                        margin-bottom: 5px;
                    }
                    p {
                        padding-left: 10px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }
                .price {
                    width: 20%;
                    p {
                        margin: 40px 0px 5px 30px;
                        font-weight: bold;
                    }
                }
            }
        }
        .endmenu {
            @include align-text-center;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .intro {
            background: transparent;
            margin-bottom: 400px;
        }
        .img_full {
            @include bck-img-desk;
        }
        .img_enchant {
            @include bck-img-desk(-650px)
        }
        .img_barquette {
            @include bck-img-desk;
        }
        .img_gourmand {
            @include bck-img-desk;
        }
        .intro .logo {
            top: 0px;
            position: absolute;
            margin-top: 0px;
            margin-left: 35%;
            font-size: 50px;
            font-family: $police-title;
            font-weight: normal;
            background: transparent;
            color: $color-primary;
        }
        .btn-menu {
            padding: 10px 20px;
            width: 20%;
        }
        .intro .fa-arrow-left::before {
            font-size: 40px;
        }
        .price {
            margin-left: 70px;
        }
    }
    
    @media screen and (min-width: 600px),
    (max-width: 1200px) {
        .intro .logo {
            margin: auto;
        }
        .img_full {
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .img_enchant {
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .img_gourmand {
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .img_barquette {
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }